<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="tail">
	<th:block th:replace="~{fragments/web-desktop-migration-notice :: overlay}"></th:block>
	<script th:src="@{/js/pvp-invite-banner.js(v=${assetVersion})}"
	        th:attr="data-poll-url=@{/battle/pvp/pending-inbound.json},data-pvp-menu-url=@{/battle/pvp},data-pvp-invite-notify-enabled=${pvpInviteNotifyEnabled},data-pvp-notify-icon-url=@{/images/cards/desktop_icon_01.PNG}"></script>
	<script th:replace="~{fragments/tab-fullscreen :: script}"></script>
	<script th:replace="~{fragments/click-sparkle :: script}"></script>
	<script th:src="@{/js/nu-native-select.js(v=${assetVersion})}"></script>
	<th:block th:replace="~{fragments/cursor-feedback :: scripts}"></th:block>
	<th:block th:replace="~{fragments/desktop-optional-update-ui :: overlay}"></th:block>
	<script th:src="@{/js/desktop-app-update-ui.js(v=${assetVersion})}"></script>
</th:block>
